* {
    font-family: "Nunito", sans-serif;
}

body {
    background: #F9F9F9;
}

a {
	text-decoration: none !important;
}

a:hover {
	text-decoration: none !important;
}


/* Custom Global Styles ------------------------------------------------------------------------ */
.centered-flex-row {
	display: flex;
	flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.section-title {
    font-family: "Ubuntu", sans-serif;
    font-size: 1.75rem;
    font-weight: bold;
}

.section {
    margin-top: 8rem;
}

.gradient {
    background: linear-gradient(90deg, rgba(75,207,250,1) 0%, rgba(117,47,230,1) 100%);
}

.shadow {
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2) !important;
}

.bold {
    font-weight: bold;
}

/* Scrollbar ------------------------------------------------------------------- */
::-webkit-scrollbar {
    width: 15px;
    border-left: 1px
    solid #E6ECF8;
}

::-webkit-scrollbar-thumb {
    background-color: #141C3A;
}

/* Cover ------------------------------------------------------------------------ */
#cover {
    position: absolute;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFFFFF;
    width: 100%;
    height: 100%;
    transition: 2s all ease-in-out;
}

.fade-out {
    opacity: 0;
}

#cover-logo {
    position: relative;
    width: 10rem;
    animation: down 3s 1;
}

#cover-name {
    position: relative;
    font-size: 2rem;
    margin-top: 1rem;
    animation: left 3s 1;
}

#cover-button {
    position: relative;
    font-size: 1.35rem;
    padding: 0.5rem 3rem 0.5rem 3rem;
    margin-top: 5rem;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    background: transparent;
    border-radius: 3rem;
    transition: 0.25s all ease-in-out;
    animation: up 3s 1;
}

#cover-button:hover {
    color: #7E57FF;
    background: #FFFFFF;
    cursor: pointer;
}

#cover-button:focus {
    outline: none;
}

@keyframes down {
    0% { opacity: 0; top: -3rem; }
    100% { opacity: 1; top: 0rem; }
}

@keyframes left {
    0% { opacity: 0; left: -7rem; }
    100% { opacity: 1; left: 0rem; }
}

@keyframes up {
    0% { opacity: 0; bottom: -4rem; }
    100% { opacity: 1; bottom: 0rem; }
}

/* Site Content ------------------------------------------------------------------------ */
#site-content {
    opacity: 0;
    display: none;
    transition: 2s all ease-in-out;
}

.fade-in {
    opacity: 1 !important;
}

/* Navbar ------------------------------------------------------------------------ */
.navbar {
    position: fixed;
    transition: 0.35s ease-in-out;
    background: transparent;
    width: 100vw;
    height: 5rem;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar-brand {
    display: flex;
    align-items: center;
    padding: 0;
    margin-left: 1rem;
}

.vert-bar {
    height: 2rem;
    width: 1px;
    margin-right: 0.35rem;
    background: #FFFFFF;
    transition: 0.35s ease-in-out;
}

.vert-bar-purple {
    background: #7E57FF;
}

#brand {
    color: #FFFFFF;
    font-size: 1.35rem;
}

#logo {
    width: 3rem;
}

.navbar-text {
    margin-right: 2rem;
    padding: 0;
}

.stuck {
	position: fixed;
    top: 0;
    z-index: 2;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    height: 3.75rem;
    background:rgba(255, 255, 255, .9);
	color: #7E57FF;
}

.stuck .navbar-brand #brand {
    color: #7E57FF;
}

.icon {
	color: #FFFFFF;
    background-color: transparent;
    border: #FFFFFF solid 1px;
    border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
    transition: 0.25s all ease-in-out;
    
    /* custom styles */
    width: 2.85rem;
    height: 2.85rem;
    margin-right: 0.75rem;
    margin-left: 0.75rem;
}

.icon:hover {
	color: #7E57FF;
	background-color: #FFFFFF;
}

#nav-icons {
    display: none;
}

.nav-icon {
    color: #7E57FF;
	border: 1px solid #7E57FF;
    font-size: 1.15rem;
    width: 2.5rem;
    height: 2.5rem;
}

.nav-icon:hover {
    color: #FFFFFF;
    background: #7E57FF;
}

/* Hero ------------------------------------------------------------------------ */
#hero {
    height: 100vh;
    color: #FFFFFF;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    font-size: 3rem;
    font-weight: bold;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
}

#slogan {
    font-size: 1.5rem;
    font-weight: 200;
}

#incredible {
    color: #7E57FF;
    background: #FFFFFF;
    padding: 0rem 0.5rem 0rem 0.5rem;
    border-radius: 0.5rem;
    font-weight: bold;
}

#hero-icons {
    margin-top: 3rem;
}

.icon-combo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-icon {
    font-size: 1.75rem;
    padding: 2rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

.hero-icon-title {
    margin-top: 1rem;
    font-size: 1rem;
    color: #FFFFFF;
    opacity: 0;
    transition: 0.35s all ease-in-out;
}

.hero-icon:hover + .hero-icon-title {
    opacity: 1;
}

/* Users ------------------------------------------------------------------------ */
#users {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
}

#count {
    font-family: "Ubuntu", sans-serif;
    color: #7E57FF;
}

#companies {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 90vw;
    margin-top: 3rem;
}

.company {
    height: 3rem;
}

.adjusted-up {
    height: 4rem;
}

.adjusted-down {
    height: 2.5rem;
}

/* Section Split ------------------------------------------------------------------- */
#section-split {
    width: 85vw;
    height: 2px;
    background: #E6ECF8;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: -2rem;
}

/* Projects ------------------------------------------------------------------------ */
#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}

#projects-title {
    font-size: 2.5rem;
}

#categories {
    margin-top: 5rem;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 90vw;
}

.category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.category-icon {
    width: 3.25rem;
}

#globe, #globe-colored {
    width: 2.75rem;
}

#globe-colored {
    position: relative;
    top: 2.75rem;
}

.colored {
    opacity: 0;
    transition: 0.2s all ease-in-out;
}

#laptop-colored {
    position: relative;
    top: 2.6rem;
    opacity: 1;
}

#gamepad-colored {
    position: relative;
    top: 1.625rem;
}

.category-title{
    margin-top: 1.75rem;
    font-weight: 600;
    transition: 0.2s all ease-in-out;
}

.bar {
    display: block;
    margin-top: 1rem;
    background-color: rgb(145,153,160, 0.5);
    height: 2px;
    width: 15rem;
    transition: 0.2s all ease-in-out;
}

#application-category .category-title {
    color: #7E57FF;
}

#application-category .bar {
    background-color: #7E57FF;
}

#project-cards {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project {
    position: relative;
    color: #000000;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
    width: 20rem;
    height: 15rem;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.project::before {
    position: absolute;
    content: "";
    left: 0;
    background:  linear-gradient(0deg, rgba(75,207,250,1) 0%, rgba(117,47,230,1) 100%);
    height: 100%;
    width: 15%;
}

.project::after {
    position: absolute;
    content: "";
    background: #141C3A;
    opacity: 0;
    transition: 0.35s all ease-in-out;
}

.project:hover::after {
    opacity: 1;
}

.project-icon {
    position: absolute;
    z-index: 1;
    left: 1rem;
    top: 1.5rem;
    width: 4rem;
    border-radius: 50%;
}

.project-title {
    font-family: "Ubuntu", sans-serif;
    position: absolute;
    left: 5.5rem;
    top: 3.5rem;
    font-weight: bold;
}

.project-description {
    position: absolute;
    top: 7rem;
    left: -8.5rem;
    font-size: 1.15rem;
    margin-left: 12.5rem;
    width: 14.5rem;
}

.project-date {
    position: absolute;
    right: 1.5rem;
    top: 1rem;
    font-weight: bold;
    font-size: 1rem;
    color: #7E57FF;
}

.card-hover {
    position: absolute;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: #141C3A;
    opacity: 0;
    display: grid;
    place-items: center;
}

.project .card-hover {
    transition: 0.25s all ease-in-out;
}

.project:hover .card-hover {
    opacity: 0.95;
}

.expand {
    position: absolute;
    font-size: 1.35rem;
    padding: 0.5rem 3rem 0.5rem 3rem;
    background: transparent;
    color: #FFFFFF;
    border: 2px solid #7E57FF;
    border-radius: 3rem;
    cursor: pointer;
    transition: 0.25s all ease-in-out;
}

.expand:hover {
    background: #7E57FF;
}

.expand:focus {
    outline: none;
}

.website {
    display: none;
}

.game {
    display: none;
}

/* Modals  -------------------------------------------------------------------------- */
.modal-content {
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 35rem;
}

.modal-proj-title {
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    position: absolute;
    left: 21rem;
    top: 5rem;
}

.modal-icon {
    position: absolute;
    z-index: 1;
    left: 14.5rem;
    top: 4rem;
    width: 6rem;
    border-radius: 50%;
}

.modal-date {
    position: absolute;
    right: 1.5rem;
    top: 4rem;
    font-weight: bold;
    font-size: 1.25rem;
    color: #7E57FF;
}

.modal-close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    border: none;
    background: transparent;
}

.close-icon, .close-icon-hover {
    position: absolute;
    left: -1.5rem;
    width: 2rem;
    height: 2rem;
    transition: 0.35s all ease-in-out;
}

.close-icon:hover {
    opacity: 0;
}

.modal-close:hover {
    cursor: pointer;
}

.modal-close:focus {
    outline: none;
}

.modal-img {
    position: absolute;
    width: 17.5rem;
    height: 100%;
    left: -0.1rem;
    top: 0;
}

.modal-languages {
    position: absolute;
    top: 9rem;
    left: 21rem;
}

.lang {
    color: #FFFFFF;
    padding: 0.35rem 0.65rem 0.35rem 0.65rem;
    border-radius: 1rem;
    font-weight: bold;
}

.pink {  /* Python, JSON */
    background: #F734A9;
}
.orange { /* C#, JavaScript */
    background: #FF7E64;
}
.yellow {  /* CSS */
    background: #FAE94D;
}
.green {  /* JQuery */
    background: #0ADf51;
}
.blue {  /* Node.js, HTML, Unity */
    background: #4BD8F9;
}
.purple { /* Kotlin, MongoDB */
    background: #7E57FF;
}

.modal-desc {
    position: absolute;
    top: 12rem;
    left: 21rem;
    font-size: 1.15rem;
    width:25.5rem;
}

.gap {
    background: transparent;
    width: 10rem;
    height: 0.75rem;
}

.modal-links {
    position: absolute;
    bottom: 0.75rem;
    left: 18.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.link {
    font-size: 1.75rem;
    color: #FFFFFF;
    border: 3px solid #141C3A;
    padding: 0.35rem;
    margin-right: 0.75rem;
    background: #141C3A;
    border-radius: 50%;
    transition: 0.35s all ease-in-out;
}

.link:hover {
    color: #141C3A;
    background: transparent;
}

.yellow-icon {
    color: #FFFFFF;
    border: 3px solid #EBD93F;
    background: #EBD93F;
}

.yellow-icon:hover {
    color: #EBD93F;
    background: transparent;
}

.red-icon {
    color: #FFFFFF;
    border: 3px solid #FF0000;
    background: #FF0000;
}

.red-icon:hover {
    color: #FF0000;
    background: transparent;
}

.orange-icon {
    color: #FFFFFF;
    border: 3px solid #FF7E64;
    background: #FF7E64;
}

.orange-icon:hover {
    color: #FF7E64;
    background: transparent;
}

.modal-visit {
    position: absolute;
    bottom: 0.75rem;
    right: 0.75rem;
    color: #FFFFFF;
    font-size: 1.15rem;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    background: #7E57FF;
    border: none;
    border-radius: 3rem;
    transition: 0.25s all ease-in-out;
}

.modal-visit:hover {
    background: #141C3A;
    cursor: pointer;
}

.modal-visit:focus {
    outline: none;
}

/* Hire Card ------------------------------------------------------------------------ */
#hire-card {
    position: relative;
    z-index: 1;
    background: #141C3A;
    color: #FFFFFF;
    margin: auto;
    margin-top: 10rem;
    margin-bottom: -4rem;
    width: 90vw;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

#hire-me {
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    font-size: 2rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

#interested {
    font-size: 1.25rem;
}

#mail {
    font-size: 1.35rem;
    color: #FFFFFF;
    border: 2px solid #7E57FF;
    border-radius: 3rem;
    background: transparent;
    transition: 0.25s all ease-in-out;
    padding: 0.5rem 2rem 0.5rem 2rem;
}

#mail:hover {
    background: #7E57FF;    
}

/* Footer ------------------------------------------------------------------------ */
#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
    padding: 9rem 4rem 4rem 4rem;
}

#footer-logo {
    width: 5rem;
}

#name {
    font-size: 1.5rem;
    margin-top: 1rem;
}

#footer-links {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.footer-icon {
    font-size: 1.5rem;
    padding: 1.5rem;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

/* Mobile Adjustments */
@media (max-width: 768px) {
    .pc {
        display: none;
    }

    /* Navbar -------------------------------------------------------------------- */
    #brand {
        font-size: 1rem;
    }

    .vert-bar {
        height: 1rem;
        width: 1px;
        margin-left: 0.15rem;
        margin-right: 0.25rem;
    }
    
    #logo {
        width: 1.5rem;
    }

    .navbar-text {
        margin-right: 0.25rem;
    }

    /* Hero -------------------------------------------------------------------- */

    .icon {
        margin-right: 0.5rem;
        margin-left: 0.5rem;
    }

    .nav-icon {
        font-size: 1.15rem;
        width: 2rem;
        height: 2rem;
    }

    #title {
        font-size: 2rem;
    }
    
    #slogan {
        font-size: 1rem;
        margin-top: 1.25rem;
    }
    
    .hero-icon {
        font-size: 1.5rem;
        padding: 1.75rem;
        margin-right: 1rem;
        margin-left: 1rem;
    }

    /* Users -------------------------------------------------------------------- */
    #brag {
        font-size: 1.5rem;
    }

    #companies {
        flex-wrap: wrap;
        align-items: flex-end;
    }
    
    .company {
        height: 2.5rem;
        margin: 0.5rem 0.5rem 2rem 0.5rem;
    }

    .adjusted-up {
        height: 3rem;
    }
    
    .adjusted-down {
        height: 2rem;
    }

    
    /* Projects -------------------------------------------------------------------- */
    #projects-title {
        font-size: 1.75rem;
        text-align: center;
    }
    
    #categories {
        margin-top: 3.5rem;
    }
    
    .category-icon {
        width: 2.5rem;
    }
    
    #globe, #globe-colored {
        width: 2rem;
    }
    
    #globe-colored {
        top: 2rem;
    }
    
    #laptop-colored {
        top: 2rem;
    }
    
    #gamepad-colored {
        top: 1.25rem;
    }
    
    .category-title{
        margin-top: 1.75rem;
        font-size: 1rem;
    }
    
    .bar {
        width: 7rem;
    }

    /* Projects ------------------------------------------------------------------ */
    .project {
        width: 17.5rem;
        height: 12.5rem;
    }

    
    .project-icon {
        left: 1rem;
        top: 1.5rem;
        width: 3rem;
        border-radius: 50%;
    }
    
    .project-title {
        left: 4.5rem;
        top: 2rem;
        font-size: 1.25rem;
    }
    
    .project-description {
        top: 5rem;
        left: 4rem;
        font-size: 1rem;
        margin-left: 0rem;
        width: 12rem;
    }
    
    .project-date {
        right: 1.5rem;
        top: 1rem;
        font-size: 0.75rem;
    }
    
    .expand {
        font-size: 1rem;
        padding: 0.35rem 2rem 0.35rem 2rem;
    }

    /* Modals -------------------------------------------------------------------- */
    .modal-content {
        height: 25rem;
        border-radius: 1.5rem;
    }
    
    .modal-proj-title {
        font-size: 1rem;
        left: 12.35rem;
        top: 2.25rem;
    }
    
    .modal-icon {
        left: 9.35rem;
        top: 1.5rem;
        width: 3rem;
    }
    
    .modal-date {
        right: 2.5rem;
        top: 0.75rem;
        font-size: 0.75rem;
    }
    
    .modal-img {
        width: 11rem;
        height: 100%;
        left: -0.1rem;
        top: 0;
    }

    .close-icon, .close-icon-hover {
        left: -0.75rem;
        width: 1.25rem;
        height: 1.25rem;
    }
    
    .modal-languages {
        top: 3.5rem;
        left: 12.35rem;
    }

    .lang {
        font-size: 0.5rem;
        padding: 0.1rem 0.35rem 0.1rem 0.35rem;
        margin-bottom: 0rem;
    }
    
    .modal-desc {
        top: 5.25rem;
        left: 11.25rem;
        font-size: 0.75rem;
        width: 50%;
        margin-right: 11rem;
    }

    .gap {
        height: 0.5rem;
    }
    
    .modal-links {
        bottom: 0.5rem;
        left: 11.25rem;
    }
    
    .link {
        font-size: 0.75rem;
        padding: 0.15rem;
        margin-right: 0.5rem;
    }
    
    .modal-visit {
        bottom: 0.5rem;
        right: 0.75rem;
        font-size: 0.6rem;
        padding: 0.35rem 0.85rem 0.35rem 0.85rem;
    }

    /* Hire Card -------------------------------------------------------------------- */
    #hire-card {
        flex-direction: column;
    }
    
    #interested {
        font-size: 1.25rem;
        width: 20rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    /* Footer -------------------------------------------------------------------- */
    #handcrafted {
        font-size: 0.75rem;
    }
}

/* PC Adjustments */
@media (min-width: 769px) {
    .mobile {
        display: none;
    }
}
