<!DOCTYPE html>
<html lang = "en" dir = "ltr">
    <head>
        <meta charset = "utf-8">
        <title>Adam Elaoud | Budding Game Designer</title>

        <!-- Bootstrap StyleSheet -->
        <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity = "sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin = "anonymous">

        <!-- Stylesheet -->
        <link rel = "stylesheet" href = "../visual/css/style.css">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

        <!-- Favicon -->
        <link rel = "icon" href = "../visual/images/ae-icon-thick.png">
    </head>

    <body>
        <!-- Navbar -->
        <nav class = "navbar navbar-light">
            <a class = "navbar-brand" href = "#">
                <span id = "logo">AE</span>
            </a>
        </nav>

        <p id = "header">
            Hello! I'm Adam <br> I'm passionate about <br>Game Design
        </p>
    </body>
</html>
