* {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
	color: #FFFFFF;
}

body {
	background: url('../images/section-divider-editted.jpg') no-repeat center;
	background-size: cover;
    background-attachment: fixed;

}

a {
	text-decoration: none !important;
}

#logo {
	border-radius: 5rem;
	position: fixed;
}

#links {
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	align-items: flex-start;
}

.icon {
	color: #E435FE;
	background-color: #FFFFFF;
	border-radius: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.5s all ease-in-out;
}

.icon:hover {
	color: #FFFFFF;
	background-color: #E435FE;
}

.link-title {
	font-weight: 550;
	color: #FFFFFF;
	margin-top: 0.5rem;
	transition: all 0.2s ease-in-out;
	display: inline;
}

#intro {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

#warning {
	font-weight: 700;
	margin-bottom: 2rem;
}

.info {
	text-align: center;
}

#info-pc, #info-mobile {
	display: none;
}

.btn {
	margin-top: 5rem;
	background-color: #FFFFFF;
	border-radius: 5rem;
	color: #9217FE;
}

.btn:hover, .btn:active {
	color: #FFFFFF;
	background-color: transparent;
	transition: all 0.05s ease-in-out;
}

.btn:active {
	transform: scale(0.96);
}

.btn:focus {
	outline: none;
	box-shadow: none;
}

/* Mobile Styles */
@media (max-width: 768px) {
	#logo {
		max-height: 2rem;
	    max-width: 2rem;
	    left: 1rem;
	    top: 1rem;
	}

	#links {
		top: 1rem;
		right: 1rem;
	}

	.link {
		margin-left: 0.5rem;
	}

	.icon {
	    font-size: 1rem;
	    width: 1.85rem;
	    height: 1.85rem;
	}

	.link-title {
	    font-size: 0.75rem;
	}

	#warning {
		font-size: 1.25rem;
	}

	#info-mobile {
		font-size: 1rem;
		display: block;
		margin: 0rem 1rem 0rem 1rem;
	}

	.btn {
		font-size: 1rem;
		width: 8rem;
		border: solid 1px #FFFFFF;
	}
}

/* PC Styles */
@media (min-width: 769px) {
	#logo {
		max-height: 3rem;
	    max-width: 3rem;
	    left: 2rem;
	    top: 2rem;
	}

	#links {
		top: 2rem;
		right: 2rem;
	}

	.link {
		margin-left: 1.5rem;
	}

	.icon {
	    font-size: 1.85rem;
	    width: 2.85rem;
	    height: 2.85rem;
	}

	.link-title {
	    font-size: 0.75rem;
	}

	#warning {
		font-size: 2.25rem;
	}

	#info-pc {
		font-size: 1.5rem;
		display: block;
	}

	.btn {
		font-size: 1.25rem;
		width: 12rem;
		border: solid 2px #FFFFFF;
	}
}
