* {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
}

html {
    /* scroll-behavior: smooth; */
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

a {
    font-size: 1.25rem;
    margin: 0.5rem;
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

h1 {
    font-weight: bold;
}

#intro {
    color: #FFFFFF;
    background: url('../images/hoodie_window.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    text-align: center;
}

#intro-icons {
    position: relative;
    top: 15rem;
}

#pulse-icon {
    margin-right: 50rem;
    animation: heartBeat 5s infinite linear;
}

#logo {
    max-height: 5rem;
    max-width: 5rem;
    border-radius: 5rem;
    position: fixed;
    left: 2rem;
    top: 2rem;
    z-index: 101;
    transition: all 0.4s ease-in-out;
}

#logo.navbar-logo {
    max-height: 3rem;
    max-width: 3rem;
    left: 1rem;
    top: 0.5rem;
}

.mission {
    position: relative;
    top: 43%;
    font-size: 2.25rem;
    font-weight: bold;
    letter-spacing: 1px;
}

#mission-top {
    margin-bottom: 0;
}

#mission-bottom:before {
    content: "";
    display: inline-block;
    margin-bottom: 2rem;
    background-color: #FFFFFF;
    height: 4px;
    width: 8rem;
    position: relative;
    left: -3rem;
}

#mission-bottom:after {
    content: "";
    display: inline-block;
    margin-bottom: 2rem;
    background-color: #FFFFFF;
    height: 4px;
    width: 8rem;
    position: relative;
    right: -3rem;
}

#arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    margin-left: -2.85rem;
    bottom: 1rem;
    max-width: 5rem;
    font-weight: bold;
}

.fa-angle-down {
    font-size: 3rem;
}

#arrow-link {
    max-width: 2rem;
}

.navbar {
    display: flex;
    justify-content: center !important;
    padding: 0;
    background-color: #14151E;
    z-index: 100;
    height: 4rem;
}

.navbar-nav {
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    height: 4rem;
}

.list-elem {
    display: flex;
    align-items: center;
    margin: 0 0.5rem 0 0.5rem;
    height: 2rem;
}

.navbar-link {
    /* top, right, bottom, left */
    padding: 1rem 1rem 1rem 1rem;
    height: 4rem;
    margin: 0;
    color: #FFFFFF;
}

.navbar-link:hover,
.nav-highlight > a {
    color: #CB2AED;
    background-color: #FFFFFF;
    text-decoration: none;
}

.stuck {
  position: fixed;
  top: 0;
  width: 100%;
}

#about-me {
    background-color: white;
    padding: 2rem;
}

#phone-warning {
    position: absolute;
    right: 2rem;
    background-color: #E64A4A;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 0.75rem;
}

#about-details {
    margin-bottom: 1rem;
}

#profile-pic {
    max-width: 18rem;
    max-height: 18rem;
    border-radius: 10rem;
    margin-right: 4rem;
    margin-bottom: 2rem;
}

#about-description {
    font-size: 1.25rem;
    max-width: 30rem;
}

#hello {
    font-size: 2rem;
    margin-bottom: 1rem;
}

#personal-ad {
    background-color: #293347;
    color: #FFFFFF;
    border-radius: 20px;
    padding: 1.2rem;
    margin-bottom: 0rem;
    font-size: 1.2rem;
}

#skills-title {
    float: left;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

#skills {
    list-style-type: none;
    min-width: 20rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

#sync-vid {
    padding-top: 4.25%;
    padding-bottom: 19.1%;
}

#one-shot-vid {
    padding-top: 3.65%;
    padding-bottom: 17.15%;
}

#leap-vid {
    padding-top: 3.65%;
    padding-bottom: 17.15%;
}

#ink-vid {
    padding-top: 3.65%;
    padding-bottom: 17%;
}

#ink-link-notice {
  color: #E64A4A;
  margin-top: 1rem;
}

#yangle-vid {
    padding-top: 3.5%;
    padding-bottom: 16.22%;
    position: relative;
    z-index: 1;
}

#yangle-img {
    position: absolute;
    z-index: 2;
    right: -8rem;
    bottom: -4rem;
}

#medal {
    display: inline-block;
    float: right;
    height: 5rem;
    width: 5rem;
}

#schedule-share-vid {
    padding-top: 3.475%;
    padding-bottom: 16.22%;
}

#schedule-share-img {
    position: absolute;
    z-index: 2;
    left: -8.5rem;
    bottom: -4rem;
}

#contact {
    background-color: #5A5A5A;
    color: #FFFFFF;
    font-size: 1.2rem;
    text-align: center;
    position: relative;
}

#handcrafted {
    font-size: .85rem;
    font-style: italic;
    margin-bottom: none;
}

#to-top {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    position: absolute;
    right: 2rem;
    bottom: 1.5rem;
}

#to-top-icon {
    font-size: 2rem;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 2rem;
    padding: .75rem;
    color: #CB2AED;
    background-color: #FFFFFF;
    transition: all .3s ease-in-out;
    box-shadow: 0 2px 15px 0 #000000;
}

#to-top-desc {
    color: #FFFFFF;
    margin-bottom: 0.5rem;
}

#to-top-icon:hover {
    color: #FFFFFF;
    background-color: #CB2AED;
}


/* ----------------------------  CLASSES ----------------------------*/


.jump {
    height: 4rem;
}

.full-view-right {
    font-weight: bold;
    font-size: 1.1rem;
    position: relative;
    right: -37.5rem;
    top: -15.25rem;
    z-index: 5;
    max-width: 5rem;
}

.full-view-left {
    font-weight: bold;
    font-size: 1.1rem;
    position: relative;
    left: -6.5rem;
    top: -15.5rem;
    z-index: 5;
    max-width: 5rem;
}

.skills-item {
    transition: all .2s;
    font-size: 1.5rem;
}

.skills-item:hover {
    /* background-color: #DCDCDC; */
    background-image: linear-gradient(to left, transparent, #DCDCDC);
    transform: scale(1.15);
}

.semi-bold {
    font-weight: 590;
}

.bold {
    font-weight: bold;
}

.bold-purple {
    font-weight: bold;
    color: #CB2AED;
}

.bold-dark-purple {
    font-weight: bold;
    color: #8A03A6;
}

.img-container {
    position: relative;
}

.site-img-full {
    max-width: 20rem;
    max-height: 20rem;
}

.gif {
    max-width: 5rem;
    max-height: 5rem;
    border-radius: 3rem;
    margin-bottom: 0.5rem;
}

.project-title:after {
    content: "";
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #DB52F8;
    height: 3px;
    width: 10rem;
}

.section-title {
    color: #FFFFFF;
    background: url('../images/section-divider-editted.jpg') no-repeat center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15rem;
    background-size: cover !important;
    background-attachment: fixed !important;
}

.light-item {
    font-size: 1.15rem;
    color: #000000;
    background-color: #FFFFFF;
    text-align: left;
    padding: 2rem;
}

.dark-item {
    font-size: 1.15rem;
    color: #FFFFFF;
    background-color: #232429;
    text-align: left;
    padding: 2rem;
}

.btn {
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-color: #CB2AED;
    border-width: .2rem;
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 1px;
    max-width: 9rem;
    max-height: 3.5rem;
    box-shadow: 0 1px 6px 0 #000000;
}

.dark-btn {
    background-color: #232429;
    transition: all .2s;
    color: #CB2AED;
}

.dark-btn:hover {
    background-color: #CB2AED;
    color: #FFFFFF;
}

.light-btn {
    background-color: #FFFFFF;
    color: #CB2AED;
    transition: all .2s;
}

.light-btn:hover {
    background-color: #CB2AED;
    color: #FFFFFF;
}

.description {
    min-width: 25rem;
    max-width: 45rem;
    border-radius: 1.5rem;
}

.ongoing {
    font-weight: bold;
    color: #E40101;
}

.complete {
    font-weight: bold;
    color: #B2EB3F;
}

.monitor {
    margin-bottom: 1.5rem;
}

.icon {
    font-size: 2rem;
    width: 3.5rem;
    height: 3.5rem;
    /* top right bottom left */
    margin: 2rem .5rem 2rem .5rem;
    color: #FFFFFF;
    background-color: #232429;
    border-radius: 2rem;
    padding: .75rem;
    box-shadow: 0 2px 10px 0 #000000;
    transition: all .3s ease-in-out;
}

.icon:hover {
    color: #CB2AED;
    background-color: #FFFFFF;
}

.about-icon {
    margin: 2rem .5rem 0.3rem .5rem;
}

.ad-desc {
    font-size: 1.15rem;
    font-weight: 550;
    color: #232429;
    margin-top: 0.5rem;
    transition: all .2s ease-in-out;
}

.about-icon:hover ~ .ad-desc {
    font-weight: bold;
    color: #CB2AED;
}

.anim-icon {
    font-size: 2rem;
    width: 3.5rem;
    height: 3.5rem;
    color: #FFFFFF;
    background-color: #232429;
    border-radius: 2rem;
    padding: 2rem;
}

.rot-icon {
    position: relative;
}

.icon-light-lg {
    color: #232429;
    font-size: 2.75rem;
    margin-right: 0.5rem;
}

.icon-dark-lg {
    color: #FFFFFF;
    font-size: 2.75rem;
    margin-right: 0.5rem;
}

.gif {
    width: 8rem;
    height: 8rem;
    display: block;
    border-radius: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.link-button-right {
    margin-right: 1rem;
}

.link-button-left {
    margin-left: 1rem;
}

.title {
    font-family: 'Staatliches', cursive;
    font-size: 4rem;
    letter-spacing: 5px;
}

.squared {
    border-radius: 0rem !important;
}

.spaced {
    margin-left: 2rem;
    margin-right: 2rem;
}

.right-allowance {
    margin-right: 6rem;
}

.left-allowance {
    margin-left: 6rem;
}

.right-push {
    margin-right: 0.25rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column-centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row-centered {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.align-items-center {
    display: flex;
    align-items:center;
}

.justify-content-center {
    display: flex;
    justify-content: center;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-text {
    text-align: center;
}

.right-text {
    text-align: right;
}

.left-text {
    text-align: left;
}

.highlight {
    text-align: center;
    box-sizing: border-box;
    margin-right: 0.5rem;
    padding: .25rem .35rem .15rem .35rem;
    border-radius: .35rem;
    font-weight: bold;
    box-shadow: 0 1px 5px 0 #000000;
}

.design {
    background-color: #F0B1FD;
}

.art {
    background-color: #E47CFA;
}

.bug-testing {
    background-color: #C54CFF;
}

.balancing {
    background-color: #B221FF;
}

.java {
    background-color: #FF0D9C;
}

.html {
    background-color: #FF57B9;
}

.php {
    background-color: #FF94D3;
}

.python {
    background-color: #E849A6;
}

.css {
    background-color: #91BDFE;
}

.sql {
    background-color: #E849A6;
}

.javascript {
    background-color: #3D8AFF;
}

.jquery {
    background-color: #0F66C8;
}

.frontend {
    background-color: #2565BF;
}

.backend {
    background-color: #FA98D1;
}

.fas.fa-star {
    color: #DB52F8;
}

.far.fa-star {
    color: lightgray;
}

.stars {
    float: right;
    margin-left: 5rem;
}

.vid-black {
    background: url('../images/pc_monitor.png') no-repeat center;
    background-size: 100% 100%;
}

.vid-white {
    background: url('../images/pc_monitor_white.png') no-repeat center;
    background-size: 100% 100%;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.bounce {
    animation: bounce 2s infinite;
}

@keyframes rotate-down {
	from {
		transform: rotate(0deg)
		           translate(-75px)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(-75px)
		           rotate(-360deg);
	}
}

.rotate-down {
    animation: rotate-down 2.5s infinite linear;
    z-index: 1;
}

@keyframes rotate-up {
	from {
		transform: rotate(0deg)
		           translate(75px)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(75px)
		           rotate(-360deg);
	}
}

.rotate-up {
    animation: rotate-up 2.5s infinite linear;
    z-index: 2;
    right: 4rem;
}
