* {
    font-family: 'Raleway', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

a {
    font-size: 1.25rem;
    margin: 0.5rem;
    color: #FFFFFF;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

h1 {
    font-weight: bold;
}

h1:after {
    content: "";
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #DB52F8;
    height: 3px;
    width: 10rem;
}

.navbar-link {
    /* top, right, bottom, left */
    padding: .75rem 1rem .75rem 1rem;
    margin: .25rem;
}

.navbar-link:hover {
    color: #FFFFFF;
    background-color: #CB2AED;
    text-decoration: none;
}

.navbar-brand {
    font-size: 2rem;
}

.navbar-brand:hover {
    background-color: none !important;
}

.navbar {
    background: transparent;
}

#intro {
    color: #FFFFFF;
    background: url('../images/placeholder_image.png') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

#game-dev-title {
    color: #EBB04A;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15rem;
    background: url('../images/game-dev-background2.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

#web-dev-title {
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15rem;
    background: url('../images/web-dev-background.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

#project-sync {
    color: #000000;
    background-color: #FFFFFF;
    text-align: left;
    padding: 2rem;
}

#sync-vid {
    /* top right bottom left */
    padding-top: 4.25%;
    padding-bottom: 19.1%;
}

#sync-desc {
    background-color: #EDEEEF;
    padding: 1rem;
    min-width: 25rem;
    max-width: 50rem;
}

#one-shot {
    color: #FFFFFF;
    background-color: #232429;
    text-align: left;
    padding: 2rem;
}

#one-shot-vid {
    padding-top: 3.75%;
    padding-bottom: 17%;
}

#one-shot-desc {
    background-color: #DB52F8;
    padding: 1rem;
    min-width: 25rem;
    max-width: 50rem;
}

#contact {
    background-color: #5A5A5A;
    color: #FFFFFF;
    font-size: 1.2rem;

}

#arrow {
    margin: auto;
    position: relative;
    top: 50%;
}

.fa-angle-down {
    font-size: 3rem;
}

/* --------------- High importance CLASSES ---------------*/
.btn {
    padding: 0.75rem 1.25rem 0.75rem 1.25rem;
    border-color: #CB2AED;
    border-width: .2rem;
    font-weight: bold;
    font-size: 1.25rem;
}

.dark-btn {
    background-color: #232429;
    transition: all .2s;
    color: #CB2AED;
}

.dark-btn:hover {
    background-color: #CB2AED;
    color: #FFFFFF;
}

.light-btn {
    background-color: #FFFFFF;
    color: #CB2AED;
    transition: all .2s;
}

.light-btn:hover {
    background-color: #CB2AED;
    color: #FFFFFF;
}

.description {
    min-width: 25rem;
    max-width: 35rem;
}

.ongoing {
    font-weight: bold;
    color: #E40101;
}

.complete {
    color: #B2EB3F;
}

.monitor {
    margin-bottom: 1.5rem;
}

.icon {
    font-size: 2rem;
    width: 3.5rem;
    height: 3.5rem;
    /* top right bottom left */
    margin: 2rem .5rem 2rem .5rem;
    color: #FFFFFF;
    background-color: #000000;
    border-radius: 2rem;
    padding: .75rem;
    transition: all .3s ease-in-out;
}

.icon:hover {
    color: #CB2AED;
    background-color: #FFFFFF;
}

.icon-lg {
    font-size: 3.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.gif {
    width: 8rem;
    height: 8rem;
    display: block;
    margin-left: 1rem;
    margin-right: 1rem;
}

.link-group {
    display: flex;
    align-items: center;
}

.link-button {
    margin-left: 1rem;
}

.title {
    font-family: 'Staatliches', cursive;
    font-size: 4rem;
}

.squared {
    border-radius: 0rem !important;
}

.spaced {
    margin-left: 2rem;
    margin-right: 2rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column-centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.align-items-center {
    display: flex;
    align-items:center;
}

.justify-content-center {
    display: flex;
    justify-content: center;
}

.flex-row-centered {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-text {
    text-align: center;
}

.right-text {
    text-align: right;
}

.left-text {
    text-align: left;
}

.highlight {
    text-align: center;
    box-sizing: border-box;
    margin-right: 0.5rem;
    padding: .25rem .35rem .15rem .35rem;
    border-radius: .35rem;
}

.code {
    background-color: #F0B1FD;
}

.design {
    background-color: #E47CFA;
}

.bug-testing {
    background-color: #D02AF3;
}

.balancing {
    background-color: #C006E7;
}

.vid-black {
    background: url('../images/pc_monitor.png') no-repeat center;
    background-size: 100% 100%;
}

.vid-white {
    background: url('../images/pc_monitor_white.png') no-repeat center;
    background-size: 100% 100%;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.bounce {
    animation: bounce 2s infinite;
}
