* {
    font-family: 'Raleway', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

a {
    font-size: 1.25rem;
    margin: 0.5rem;
    color: #FFFFFF;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.navbar-link {
    /* top, right, bottom, left */
    padding: .75rem 1rem .75rem 1rem;
    margin: .25rem;
}

.navbar-link:hover {
    color: #FFFFFF;
    background-color: #CB2AED;
    text-decoration: none;
}

.navbar-brand {
    font-size: 2rem;
}

.navbar-brand:hover {
    background-color: none !important;
}

.navbar {
    background: transparent;
}

#intro {
    color: #FFFFFF;
    background: url('../images/placeholder_image.png') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

#game-dev-title {
    color: #EBB04A;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15rem;
    background: url('../images/game-dev-background2.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

#web-dev-title {
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15rem;
    background: url('../images/web-dev-background.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

#project-sync {
    color: #000000;
    background-color: #E67BFC;
    text-align: left;
    padding: 2rem;
}

#sync-desc {
    background-color: #DB52F8;
    padding: 1rem;
    min-width: 25rem;
    max-width: 50rem;
}

#sync-btn {
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: #E67BFC;
    border-color: #CB2AED;
    border-width: thick;
    font-weight: bold;
    transition: all .2s;
}

#sync-btn:hover {
    background-color: #CB2AED;
    color: #FFFFFF;
}

#one-shot {
    color: #000000;
    background-color: #FFFFFF;
    text-align: left;
    padding: 2rem;
}

#one-shot-desc {
    background-color: #EDEEEF;
    padding: 1rem;
    min-width: 25rem;
    max-width: 50rem;
}

#one-shot-btn {
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: #FFFFFF;
    border-color: #000000;
    border-width: thick;
    font-weight: bold;
    transition: all .2s;
}

#one-shot-btn:hover {
    background-color: #000000;
    color: #FFFFFF;
}

#contact {
    background-color: #5A5A5A;
    color: #FFFFFF;
    font-size: 1.2rem;

}

#arrow {
    margin: auto;
    position: relative;
    top: 50%;
}

.fa-angle-down {
    font-size: 3rem;
}

/* --------------- High importance CLASSES ---------------*/
.icon {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #FFFFFF;
}

.icon-lg {
    font-size: 3.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.gif {
    width: 8rem;
    height: 8rem;
    display: block;
    margin-left: 1rem;
    margin-right: 1rem;
}

.link-group {
    display: flex;
    align-items: center;
}

.link-button {
    margin-left: 1rem;
}

.title {
    font-family: 'Staatliches', cursive;
    font-size: 4rem;
}

.squared {
    border-radius: 0rem !important;
}

.spaced {
    margin-left: 2rem;
    margin-right: 2rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column-centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.align-items-center {
    display: flex;
    align-items:center;
}

.justify-content-center {
    display: flex;
    justify-content: center;
}

.flex-row-centered {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.center-text {
    text-align: center;
}

.right-text {
    text-align: right;
}

.left-text {
    text-align: left;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.bounce {
    animation: bounce 2s infinite;
}
